@font-face {
    font-family: 'sce-ps3_rodin_latinregular';
    src: url('SCE-PS3-RD-I-LATIN.TTF') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'sce-ps3_rodin_latinregular';
    src: url('SCE-PS3-RD-BI-LATIN.TTF') format('truetype');
    font-weight: italic;
    font-style: bold;
}

@font-face {
    font-family: 'sce-ps3_rodin_latinregular';
    src: url('SCE-PS3-RD-B-LATIN2.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'sce-ps3_rodin_latinregular';
    src: url('SCE-PS3-RD-R-LATIN2.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
